.bundle
db/*.sqlite3
log/*.log
tmp/

.bundle/
config/*.yml
config/*.conf
config/logrotate-config
config/nginx-config
db/schema.rb
db/sphinx/
log/
public/cache/
public/assets/
public/ckeditor_assets/
public/uploads
vendor/bundle/
.rails_footnotes
.redcar/
doc/
vendor/
dump.rdb
