<p>Sign in</p>

<form class="login">
  <div class="row">
    <label for="">Username</label>
    <input name="auth[username]" type="text" required autofocus tabindex="1">
  </div>

  <div class="row">
    <label for="">Password</label>
    <input name="auth[password]" type="password" required autofocus tabindex="2">
  </div>

  <div class="row">
    <input type="submit" id="submit" value="Login" class="submit" tabindex="3">
  </div>
</form>

